asgiref==3.8.1
attrs==23.2.0
cattrs==23.2.3
certifi==2024.7.4
charset-normalizer==3.3.2
Django==5.0.7
django-redis
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
flatbuffers==24.3.25
fontawesome==5.10.1.post1
gunicorn==22.0.0
idna==3.7
openmeteo_requests==1.2.1
openmeteo_sdk==1.11.11
packaging==24.1
platformdirs==4.2.2
PyJWT==2.8.0
redis
requests==2.32.3
requests-cache==1.2.1
retry-requests==2.0.0
six==1.16.0
sqlparse==0.5.1
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
