{% extends "base.html" %}
{% block title %}Weather{% endblock %}
{% block content %}
<div class="weather-card">
    <h1 class="text-center">
        {{ city }}
        <img src="https://hatscripts.github.io/circle-flags/flags/{{ weather_data.country_code|lower }}.svg" width="46" alt="Флаг {{ weather_data.country_code }}">
    </h1>
    <div class="text-center">
        <p><i class="fas fa-temperature-high"></i> Temperature: {{ weather_data.current_temperature }}°C {{ weather_data.weather_icon }}</p>
    </div>

    <form method="post" action="/weather/" class="form-inline justify-content-center my-4">
        {% csrf_token %}
        <i class="fas fa-city"></i> &nbsp;
        {{ form.city }}
        <button type="submit" class="btn btn-info">Get Weather</button>
    </form>
    <div id="suggestions"></div>

    {% if message %}
    <div class="alert alert-info text-center">{{ message }}</div>
    {% endif %}

    {% if last_city %}
    <div class="text-center mb-4">
        <button data-url="{% url 'weather' %}" data-last-city="{{ last_city }}" onclick="getWeatherForLastCity(this)" class="btn btn-info">
            Get Weather for {{ last_city }}
        </button>
    </div>
    {% endif %}

    {% if weather_data %}
    <div class="text-center mt-3">
        <p><i class="fas fa-temperature-high"></i> {{ weather_data.current_temperature }}°C   ({{ weather_data.current_apparent_temperature }})</p>
        <p><i class="fas fa-cloud-sun"></i> {{ weather_data.weather_description }} {{ weather_data.weather_icon }}</p>
        <p><i class="fas fa-wind"></i> {{ weather_data.current_wind_speed }} m/s   ({{ weather_data.current_wind_gusts }})</p>
        <p><i class="fas fa-users"></i> {{ weather_data.population }} ч.</p>
    </div>
    {% endif %}

    <div class="recent-searches">
        <h3>Recent Searches</h3>
            <ul class="list-group">
                {% for city in recent_cities %}
                <li class="list-group-item">{{ city.city }} - {{ city.search_date }} - {{ city.temperature }}°C</li>
                {% endfor %}
            </ul>
    </div>

    <div class="text-center mt-4">
      <a href="{% url 'search_history' %}" class="btn btn-info">View Search History</a>
    </div>
    <div class="text-center mt-4">
      <a href="{% url 'city_search_count' %}" class="btn btn-info">Get City Search Counts</a>
    </div>
    <div class="text-center mt-4">
      <a href="{% url 'city-search-count-list' %}" class="btn btn-info">Get Api City Search Counts</a>
    </div>
</div>
{% endblock %}

